{% load staticfiles %}
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>Lucifer</title>

<script src="https://code.jquery.com/jquery-3.1.1.min.js"></script>
<script type="text/javascript"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/js/bootstrap.min.js"></script>
<script src="{% static "js/Mainpage-slide.js" %}"></script>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css" />
<link rel="stylesheet" href="{% static "css/Base.css" %}" />
<link rel="stylesheet" href="{% static "css/News_Notice.css" %}" />
<link rel="stylesheet" href="{% static "css/topbar.css" %}" />
<link rel="stylesheet" href="{% static "css/main.css" %}" />
<link rel="stylesheet" href="{% static "css/font-awesome.min.css" %}">

<!-- css가 들어가는 위치 -->
{% block css %}
{% endblock %}

{% block js %}
{% endblock %}

<!-- style 코드가 틀어가는 위치 -->
<style>
.Back { 
    background:url({% static "images/main_bg_2.jpg" %}) no-repeat 50% 0;
    margin:0 auto;
    padding:0;}
.whiteback { width:100%; height:1300px; z-index:-9999; position:absolute; background:url({% static "images/Background.png" %});}
.Wrap {height:900px;}
.Container {height:900px;}
.Left_box{height:900px;}
{% block style %}
{% endblock %}
</style>


</head>

<body>
<div class="topbar_back" style="position:relative;">
  <div class="topbar_container">
    <div class="topbar_logo">
        <a href={% url "home"%}><img src="{% static "images/topbar_logo.png" %}" /></a>
    </div>
    <div class="topbar_menu">
        <a href="{% url "joinus" %}" target="_top" class="join">회원가입</a>
        <a href="#">로그인</a> <!-- login link add -->
    </div>
  </div>
</div>
<div class="Back">
<div class="whiteback">
    </div>
    {% include "partials/header.html" %}

<div class="Wrap">
    <div class="Left_box">
      <div class="Login_wrap">
          <fieldset>
            {% if request.user.is_authenticated %}
            <div>
              <p style="color:red;">{{ request.user.username }}</p>
              <a href="{% url "logout" %}">로그아웃</a>
              <ul>
                <li>
                  <a href="{% url "gamestart" %}" target="_blank">게임시작</a>
                </li>
                <li>
                  <a href="{% url "checkcharacter" %}" target="_blank">게임시작(캐릭터체크)</a>
                </li>
              </ul>
            </div>
            {% else %}
            <form method="post" action="#" id="frmLogin"> 
              {% csrf_token %}
            <div class="before">  <!-- Login 처리 -->
            <ul class="form">
                <li><input type="text" name="txtUserID" id="txtUserID" class="text" placeholder="계정" data-datatype="an" maxlength="16"></li>
                <li><input type="password" name="txtPassWD" id="txtPassWD" class="text" placeholder="비밀번호" maxlength="20"></li>
                <li class="btn-login"><button type="submit" id="btnLogin"></button></li>
            </ul>
         <aside>
            <a href="#">회원가입</a>
            <span>|</span>
            <a href="#">계정</a>/<a href="#">비밀번호찾기</a>
         </aside>
         <div class="snslogin">
                    SNS 로그인  
                    <ul>
                        <li>N</li> <!-- sns Login add -->
                        <li><i class="fa fa-comment" aria-hidden="true"></i></li>
                        <li><i class="fa fa-facebook-official" aria-hidden="true"></i></li>
                    </ul>
         
                    </div>
            </div>
            </form>
            {% endif %}
         </fieldset>
         <div class="Btn_Start">
            <button type="submit" id="btnStart">START</button>
         </div>
      </div>

{% block leftnav %}
{% endblock %}

        <div class="Quick_menu">
            <ul class="link_list">
                <li><a href="#" onclick="window.open('{% url 'policy' %}','window','width=880; height=650; scrollbars=yes');">
                    <span class="glyphicon glyphicon-info-sign" aria-hidden="true"></span>
                    <span class="link_list_title"> 도움말 무엇이 궁금하세요? </span>
                    </a>
                </li>
                <li><a href="{% url "faq" %}" class="FAQ">
                    <span class="glyphicon glyphicon-bullhorn" aria-hidden="true"></span>
                    <span class="link_list_title"> FAQ 빠르게 해결해드립니다</span>
                    </a>
                </li>
                <li><a href="{% url "bugnotice" %}" class="Bugreport">
                    <span class="glyphicon glyphicon-tasks" aria-hidden="true"></span>
                    <span class="link_list_title"> 버그게시판 버그를 올려주세요</span></a>
                </li>
            </ul>
        </div>

    </div>

<div class="Container">
    <div class="Content_in">
        <div class="Toptitle">
            {% block sub_title %}
            {% endblock %}
        </div>
        {% block content %}
        {% endblock %}
    </div>
</div>
</div>

    {% include "partials/footer.html" %}
</body>
</html>
