{% load staticfiles %}
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>Lucifer</title>

<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css" />
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.1/css/font-awesome.min.css"> 
<link rel="stylesheet" href="{% static "css/Base.css" %}" />
<!--<link rel="stylesheet" href="{% static "css/News_Notice.css" %}" />-->
<link rel="stylesheet" href="{% static "css/topbar.css" %}" />
<link rel="stylesheet" href="{% static "css/main.css" %}" />
<!-- css가 들어가는 위치 -->
{% block css %}
{% endblock %}

<script src="https://code.jquery.com/jquery-3.1.1.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/js/bootstrap.min.js"></script>
<script src="{% static "js/Mainpage-slide.js" %}"></script>
<script>
function readURL(input){
  
 if(input.files && input.files[0]){
   var reader = new FileReader();
   reader.onload = function(e){
    $('#UploadedImg').html("<img id=img src=''>");
    $('#img').attr('src', e.target.result);
   }
   reader.readAsDataURL(input.files[0]);
 }  
  
}
</script>
{% block js %}
{% endblock %}


<!-- style 코드가 틀어가는 위치 -->
<style>
.Back { 
    background:url({% static "images/main_bg_2.jpg" %}) no-repeat top center;
    margin:0 auto;
    padding:0;}
.Wrap {height:900px;}
.Container {}
.Left_box{height:900px;}
/*.contentdiv { margin-left: 20px; }*/
{% block style %}
{% endblock %}
</style>

{% include "partials/post_message.html" %}

</head>

<body>


<div class="Back">

    {% include "partials/header.html" %}

<div class="Wrap">
    <div class="Left_box">
        <div class="Login_wrap">
            <fieldset>
            {% if request.user.is_authenticated %}
            <div>
                <p id="username" class="userdata">{{ request.user.username }}님</p>
                <p class="userdata">환영합니다.</p>
                {% if request.user.character.job == 'barbarian' %}
                  <img class="sumnail" alt="barbarian_sumnail" src="{% static "images/home/barbarian.png" %}">
                {% elif request.user.character.job == 'sorceress' %}
                  <img class="sumnail" alt="sorceress_sumnail" src="{% static "images/home/sorceress.png" %}">
                {% elif request.user.character.job == 'paladin' %}
                  <img class="sumnail" alt="paladin_sumnail" src="{% static "images/home/paladin.png" %}">
                {% endif %}
              {% if request.user.character.get_job_display %}
              <p>{{ request.user.character.nickname }}</p>
              <p class="characterdata">LV.&nbsp;{{ request.user.character.level }} / {{ request.user.character.get_job_display }} </p>
              {% else %}
                <p id="nocharacter" class="userdata">캐릭터가 없습니다</p>
              {% endif %}
              <a class="profile" href="{% url "profile" %}">프로필</a>
              <a class="logout" href="{% url "logout" %}" style="float:right; display:inline;">로그아웃</a>
            </div>
            {% else %}
            <div class="before">
                <form method="post" action="{% url "login" %}" id="frmLogin"> 
                    {% csrf_token %}
                    <ul class="form">
                        <li><input type="text" name="username" class="text" placeholder="계정" data-datatype="an" maxlength="16" required></li>
                        <li><input type="password" name="password"  class="text" placeholder="비밀번호" maxlength="20" required></li>
                        <li class="btn-login"><button type="submit" id="btnLogin"></button></li>
                    </ul>
                </form>
                <aside>
                    <a href="{% url "joinus" %}">회원가입</a>
                    <span>|</span>
                    <a href="#">계정</a>/<a href="#">비밀번호찾기</a>
                </aside>
                <div class="snslogin">
                    SNS 로그인  
                    <ul>
                        <li><a href="/login/naver/">N</a></li>
                        <li><a href="/login/kakao/"><i class="fa fa-comment" aria-hidden="true"></i></a></li>
                        <li><a href="/login/facebook/"><i class="fa fa-facebook-official" aria-hidden="true"></i></a></li>
                    </ul>
                </div>
            </div>
            {% endif %}
            </fieldset>
            <div class="Btn_Start">
                <input id="btnStart" onclick="gameStart();" type="button">
                <form action="{% url "checkcharacter" %}" method="get">
                    <input type="hidden"></div>
                </form>
</div>

{% block leftnav %}
{% endblock %}

    <div class="Quick_menu">
        <ul class="link_list">
            <li><a href="#" onclick="window.open('{% url 'policy' %}','window','width=880; height=650; scrollbars=yes');">
                <span class="glyphicon glyphicon-info-sign" aria-hidden="true"></span>
                <span class="link_list_title"> 도움말 무엇이 궁금하세요? </span>
                </a>
            </li>
            <li><a href="{% url "faq" %}" class="FAQ">
                <span class="glyphicon glyphicon-bullhorn" aria-hidden="true"></span>
                <span class="link_list_title"> FAQ 빠르게 해결해드립니다</span>
                </a>
            </li>
            <li><a href="{% url "bugnotice" %}" class="Bugreport">
                <span class="glyphicon glyphicon-tasks" aria-hidden="true"></span>
                <span class="link_list_title"> 버그게시판 버그를 올려주세요</span></a>
            </li>
        </ul>
    </div>

</div>

<div class="Container">
    <div class="Content_in">
        <div class="Toptitle">
            {% block sub_title %}
            {% endblock %}
        </div>
        <div class="contentdiv">
        {% block content %}
        {% endblock %}
        </div>
    </div>
</div>
</div>


    {% include "partials/footer.html" %}

    <script type="text/javascript">
        function gameStart(){
            var username = document.getElementById('username');
            if (username == null){
                alert("로그인을 해야 게임을 이용하실 수 있습니다.");
            }else{
                window.open('{% url "checkcharacter" %}', '_blank');
            };
        };
    </script>
</body>
</html>
