{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Lucifer</title>
  <script src="https://code.jquery.com/jquery-3.1.1.min.js"></script>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css">
  <link rel="stylesheet" href="{% static "css/game/createcharacter.css" %}">

</head>

<body>
    <div class="container">
        <div id="select_class">
    </div>

    <ul class="game-ul">
        <div class="character-div">
            <li class="game-li">
                <button class="job" id="sorceress" onclick="sorceressButton()">
                    <div class="image-div">
                        <img alt="sorceress" id="sorceress_image" src="{% static "images/game/Character_Create_UI/sorceress_A.png"%}">
                    </div>
                </button>
            </li>
            <div id="sorceress_text" class="job_text">
            소서리스
            </div>
        </div>

        <div class="character-div">
            <li class="game-li">
                <button class="job" id="barbarian" onclick="barbarianButton()">
                    <div class="image-div">
                        <img alt="barbarian" id="barbarian_image" src="{% static "images/game/Character_Create_UI/barbarian.png"%}">
                    </div>
                </button>
            </li>
            <div id="barbarian_text" class="job_text">
            바바리안
            </div>
        </div>

        <div class="character-div">
            <li class="game-li">
                <button class="job" id="paladin" onclick="paladinButton()">
                    <div class="image-div">
                        <img alt="paladin" id="paladin_image" src="{% static "images/game/Character_Create_UI/paladin_A.png"%}">
                    </div>
                </button>
            </li>
            <div id="paladin_text" class="job_text">
            팔라딘
            </div>
        </div>
    </ul>

    <form method="post" action="" class="nickname-form">
        {% csrf_token %}
        <h3>영웅의 이름을 정하십시오</h3>

        <input name="nickname" maxlength="10" type="text" required>
        <input name="submit" type="submit" value="생성">
        <input type="hidden" name="characterjob" readonly>

    </form>
  </div>

  <script src="{% static "js/game/createcharacter.js"%}" type="text/javascript"></script>

  <script type="text/javascript">
    function barbarianButton(){
        var jobImage = document.getElementById("barbarian_image");
        var opacityZeroJobImage1 = document.getElementById("sorceress_image");
        var opacityZeroJobImage2 = document.getElementById("paladin_image");

        opacityZeroJobImage1.style.opacity = 0.3;
        opacityZeroJobImage2.style.opacity = 0.3;

        jobImage.style.opacity = 1;
    }

    function sorceressButton(){
        var jobImage = document.getElementById("sorceress_image");
        var opacityZeroJobImage1 = document.getElementById("barbarian_image");
        var opacityZeroJobImage2 = document.getElementById("paladin_image");

        opacityZeroJobImage1.style.opacity = 0.3;
        opacityZeroJobImage2.style.opacity = 0.3;
        jobImage.style.opacity = 1;
    }

    function paladinButton(){
        var jobImage = document.getElementById("paladin_image");
        var opacityZeroJobImage1 = document.getElementById("barbarian_image");
        var opacityZeroJobImage2 = document.getElementById("sorceress_image");

        opacityZeroJobImage1.style.opacity = 0.3;
        opacityZeroJobImage2.style.opacity = 0.3;
        jobImage.style.opacity = 1;
    }
  </script>

</body>
</html>
