{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8"/>
    <title>Lucifer</title>

    <!-- Default Js -->
    <script src="{% static "js/jquery-3.1.1.min.js" %}"></script>

    <!-- Web Game Js -->
    <!-- ************************************************************************************************ -->
    <!-- pid2d 엔진 사용 준비. -->
    <meta name = "viewport"
          content = "width=device-width, initial-scale = 1, maximum-scale=1.0, user-scalable=no">
    <script src = "{% static "js/libs/backbone/underscore-min.js" %}"></script>
    <script src = "{% static "js/libs/backbone/backbone-min.js" %}"></script>
    <script src = "{% static "js/libs/pig2d/js/core.js" %}"></script>
    <script src = "{% static "js/libs/pig2d/js/node2d.js" %}"></script>
    <script src = "{% static "js/libs/pig2d/js/system.js" %}"></script>
    <script src = "{% static "js/libs/pig2d/js/util.js" %}"></script>
    <script src = "{% static "js/libs/pig2d/js/scroller.js" %}"></script>
    <script src = "{% static "js/libs/pig2d/js/controller.js" %}"></script>
    <!-- ************************************************************************************************ -->

    <!-- Game Rogic js -->
    <!-- ************************************************************************************************ -->
    <script src="{% static "js/game/start.js" %}"></script>
    <script src="{% static "js/game/Player_Bavarian_Motion.js" %}"></script>
    <script src="{% static "js/game/MainGame.js" %}"></script>
    <!-- ************************************************************************************************ -->

    <!-- CSS -->
    <!-- ************************************************************************************************ -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css">
    <!-- 부가적인 테마 -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap-theme.min.css">
    <link rel="stylesheet" href="{% static "css/main.css" %}">
    <!-- ************************************************************************************************ -->

    <!-- Game CSS -->
    <!-- ************************************************************************************************ -->
    <link rel = "stylesheet" href = "{% static "js/libs/pig2d/css/core.css" %}"/>
    <link rel="stylesheet" href="{% static "css/game/game.css" %}">
    <!-- ************************************************************************************************ -->
</head>
<body>
    <input class="higherfunction" name="" value="button" type="button">

  <section id='scene' style="width:1280px; height:800px; margin-right:auto; margin-left:auto;">
    <!-- 로딩 화면 구성 -->
    <!--
    <div id="myProgress">
      <div id="myBar"></div>
    </div>
    -->
    <p>Lucifer 게임 화면</p>
    <ul id="character">
    </ul>

    <!-- Game Screen -->
    <div class = "pig2d-fullscreen">
        <!-- FPS -->
        <p id = "text-Framerate-Info" style="position: absolute"> FrameRate </p>        
    </div>
  </section>

  </div>
  <div class="data" data-has-character="{{ request.user.has_character }}"></div>
</body>
</html>
