@charset "utf-8";
/* CSS Document */

.Container {background:transparent; background-size:821px 1300px; margin:0; padding:0px 25px;}
.Container .Content_in {width:770px; height:900px; background-color:rgba(0,0,0,0.3); padding:0px 5px;}

.Container .Content_in .Toptitle {width:760px; height:80px; background:url(../images/Subnav_topbar.png) no-repeat; color:#ffffff; text-align:left; padding:0; margin-bottom:10px; text-shadow:1px 1px #666; box-shadow:0px 0px 20px #000;} 
.Container .Content_in .Toptitle h2 {margin:0; padding:23px 16px; font-size:25px; width:250px; float:left; letter-spacing:2px;}
.Container .Content_in .Toptitle #navi {float:right; display:block; width:180px; font-size:14px; margin-top:30px; margin-right:8px; font-size:13px; color:#cccfd5;}
.Container .Content_in .Toptitle #navi span {font-weight:bold;}
.Container .Content_in .Toptitle #navi img {float:left; margin:0px 3px;}

/* 컨테이너 */

.Container .Content_in #most_sub_cont_area #title { width:740px; height:130px; margin-top:15px; }
.Container .Content_in #most_sub_cont_area #title li {float:left; border-top:1px solid #666; border-bottom:1px solid #666; font-size:13px; line-height:50px; }
.Container .Content_in #most_sub_cont_area #title #top_left {width:100px; height:50px; background:#2f2f2f; color:#ffffff; margin:0; padding:0; margin-top:5px;}
.Container .Content_in #most_sub_cont_area #title #top_right {width:640px; height:50px; margin:0; padding:0; margin-top:5px;}
.Container .Content_in #most_sub_cont_area #title #btt_left {width:100px; height:50px; background:#2f2f2f; color:#ffffff; margin:0; padding:0; margin-top:5px;}
.Container .Content_in #most_sub_cont_area #title #btt_right {width:640px; height:50px; margin:0; padding:0px; margin-top:5px;}

.Container .Content_in #most_sub_cont_area #title #top_right .form-control {width:610px; height:30px; margin:10px auto;}

.Container .Content_in #most_sub_cont_area #title #btt_right .select1 {width:80px; float:left; margin-top:15px; margin-left:20px;} 
.Container .Content_in #most_sub_cont_area #title #btt_right .select2 {width:100px; float:left; margin-top:15px; margin-left:10px;}

.Container .Content_in #most_sub_cont_area #title #cont_left {width:740px; height:30px; background:#2f2f2f; color:#ffffff; margin:0; padding:0; margin-top:15px; text-align:center; line-height:30px;}
.Container .Content_in #most_sub_cont_area #title #cont_right {width:740px; height:500px; margin:0; padding:0px; margin-top:5px;}
.Container .Content_in #most_sub_cont_area #title .textaria {margin-top:25px; line-height:20px; }

em.bott_btn a{float:right; width:60px; height:34px; padding:0; border:none; background:url(../images/btn_type1.jpg) no-repeat 0 0; line-height:34px; margin-right:0px; margin-top:10px; color:#CCC;}
em.bott_btn a:hover{color:#FFF;}

/* 컨테이너 END */

em { font-style:normal;}
.most_index {margin-top:50px; text-align:center;}
.most_index a {display:inline-block; color:#9298a1; width:23px; height:24px; margin:0 1px; border:1px solid #3d4044; line-height:26px; font-size:11px;}
.left_mg60 { margin-left:60px;}
.most_index em a { width:56px; height:28px; margin:0; padding:0; border:none; background:url(../images/btn_type2.jpg) no-repeat 0 0; line-height:30px;}

#most_left_menu_area01 { width:200px; height:143px; margin:0 auto; background:url(../images/left_menu_bg2.jpg) no-repeat 0 0; margin-top:35px;}
#most_left_menu_area01 .most_left_menu_tit { width:200px; height:50px; margin:0 auto; line-height:50px; font-size:18px; color:#fff; text-align:left; padding-left:15px;}
#most_left_menu_area01 .most_left_menu { width:200px; margin:0 auto;}
#most_left_menu_area01 .most_left_menu li { height:40px; line-height:35px; font-weight:bold;  margin-bottom:5px; color:#ff2b2b; padding-left:20px; text-align:left; font-size:15px;}
#most_left_menu_area01 .most_left_menu li a { font-weight:normal; color:#afb5bf; }

.Left_box > .Quick_menu {width:200px; height:240px; margin-top:30px; background:transparent;}
.Quick_menu .link_list { width:190px; height:215px; background-color:#f4f4f4; margin:0px auto 0 auto; text-align:left; vertical-align:middle; border:1px solid #bfbdbd; background:transparent; padding:0;}
.Quick_menu .link_list .link_list_title {font-size:18px; font-weight:bold;}
.Quick_menu .link_list li {margin:1px 0;}
.Quick_menu .link_list li:first-child {background:url(../images/Quick_menu_help.png) no-repeat; }
.Quick_menu .link_list li:first-child:hover {background:url(../images/Quick_menu_help_ov.png) no-repeat; }
.Quick_menu .link_list li:nth-child(2) {background:url(../images/Quick_menu_faq.png) no-repeat; }
.Quick_menu .link_list li:nth-child(2):hover {background:url(../images/Quick_menu_faq_ov.png) no-repeat; }
.Quick_menu .link_list li:nth-child(3) {background:url(../images/Quick_menu_bug.png) no-repeat; }
.Quick_menu .link_list li:nth-child(3):hover {background:url(../images/Quick_menu_bug_ov.png) no-repeat; }
.Quick_menu .link_list li a { color:#666666; display:block; margin:0; width:190px; height:70px; text-indent:-1000px;}
.Quick_menu .link_list li a:hover { text-decoration:none;}