@charset "utf-8";
/* CSS Document */


.Container {background:transparent; background-size:821px 1300px; margin:0; padding:0px 25px;}
.Container .Content_in {width:770px; height:1060px; background-color:rgba(0,0,0,0.3); padding:0px 5px; border:1px solid rgba(255,255,255,0.08)}

.Container .Content_in .Toptitle {width:760px; height:80px; background:url(../images/Subnav_topbar.png) no-repeat; color:#ffffff; text-align:left; padding:0; margin-bottom:10px; text-shadow:1px 1px #666; box-shadow:0px 0px 20px #000;} 
.Container .Content_in .Toptitle h2 {margin:0; padding:23px 16px; font-size:25px; width:250px; float:left;  letter-spacing:2px;}
.Container .Content_in .Toptitle #navi {float:right; display:block; width:180px; font-size:14px; margin-top:30px; margin-right:8px; font-size:13px; color:#cccfd5;}
.Container .Content_in .Toptitle #navi span {font-weight:bold;}
.Container .Content_in .Toptitle #navi img {float:left; margin:0px 3px;}

/* 컨텐츠 */
.Container .Content_in #most_sub_cont_area {width:760px; height:950px; padding:20px; overflow:hidden; background-color:rgba(0,0,0,0.3);}
.Container .Content_in #most_sub_cont_area .most_board_view_tit {width:720px; height:40px; background:url(../images/board_view_title_bg.png) no-repeat 0 0; line-height:40px; font-size:14px; font-weight:bold; color:#cccfd5; letter-spacing:-1px; text-indent:10px; text-align:left;}
.Container .Content_in #most_sub_cont_area .most_board_view_name { width:720px; height:30px; background:url(../images/board_line2.png) no-repeat left bottom; text-align:left;}
.Container .Content_in #most_sub_cont_area .most_board_view_name p { display:block; width:720px; height:35px; color:#9298a1; line-height:35px; font-size:11px; text-indent:10px;}
.Container .Content_in #most_sub_cont_area .most_board_view_name p span { float:right; letter-spacing:0; margin-right:5px;}
.Container .Content_in #most_sub_cont_area .most_board_view_con { width:720px; margin:10px 0 0 0; line-height:18px; padding:0 0 20px 0; background:url(../images/board_line2.png) no-repeat left bottom; height:500px; background-color:#ffffff; opacity:0.5; padding:15px;}
.Container .Content_in #most_sub_cont_area .most_board_view_con p { width:720px; margin:0 auto; color:#afb5bf; text-align:left; text-indent:10px;}
.Container .Content_in #most_sub_cont_area .most_board_view_con img { display:table-cell; margin:0; max-width:720px; max-height:600px;}


/* 인덱스 */
em { font-style:normal;}
.most_index {margin-top:30px; text-align:center; width:720px; height:70px; background:url(../images/board_line2.png) no-repeat left bottom;}
.most_index a {display:inline-block; color:#9298a1; width:23px; height:24px; margin:0 1px; border:1px solid #3d4044; line-height:26px; font-size:11px; text-align:center;}
.left_mg60 { margin-left:60px;}
.most_index em a { width:56px; height:28px; margin:0; padding:0; border:none; background:url(../images/btn_type2.jpg) no-repeat 0 0; line-height:30px;}
.most_index em.bott_btn1 a{float:right; width:60px; height:34px; padding:0; border:none; background:url(../images/btn_type1.jpg) no-repeat 0 0; line-height:34px; margin-right:15px;}
.most_index em.bott_btn2 a{float:right; width:60px; height:34px; padding:0; border:none; background:url(../images/btn_type1.jpg) no-repeat 0 0; line-height:34px; margin-right:15px;}


/* left Quick menu */
#most_left_menu_area01 { width:200px; height:143px; margin:0 auto; background:url(../images/left_menu_bg2.jpg) no-repeat 0 0; margin-top:35px;}
#most_left_menu_area01 .most_left_menu_tit { width:200px; height:50px; margin:0 auto; line-height:50px; font-size:18px; color:#fff; text-align:left; padding-left:15px;}
#most_left_menu_area01 .most_left_menu { width:200px; margin:0 auto;}
#most_left_menu_area01 .most_left_menu li { height:40px; line-height:35px; font-weight:bold; color:#ff2b2b; margin-bottom:5px; padding-left:20px; text-align:left; font-size:15px;}
#most_left_menu_area01 .most_left_menu li a { font-weight:normal; color:#afb5bf;}

.Left_box > .Quick_menu {width:200px; height:240px; margin-top:30px; background:transparent;}
.Quick_menu .link_list { width:190px; height:215px; background-color:#f4f4f4; margin:0px auto 0 auto; text-align:left; vertical-align:middle; border:1px solid #bfbdbd; background:transparent; padding:0;}
.Quick_menu .link_list .link_list_title {font-size:18px; font-weight:bold;}
.Quick_menu .link_list li {margin:1px 0;}
.Quick_menu .link_list li:first-child {background:url(../images/Quick_menu_help.png) no-repeat; }
.Quick_menu .link_list li:first-child:hover {background:url(../images/Quick_menu_help_ov.png) no-repeat; }
.Quick_menu .link_list li:nth-child(2) {background:url(../images/Quick_menu_faq.png) no-repeat; }
.Quick_menu .link_list li:nth-child(2):hover {background:url(../images/Quick_menu_faq_ov.png) no-repeat; }
.Quick_menu .link_list li:nth-child(3) {background:url(../images/Quick_menu_bug.png) no-repeat; }
.Quick_menu .link_list li:nth-child(3):hover {background:url(../images/Quick_menu_bug_ov.png) no-repeat; } .Quick_menu .link_list li a { color:#666666; display:block; margin:0; width:190px; height:70px; text-indent:-1000px;} .Quick_menu .link_list li a:hover { text-decoration:none;}
#user-id {
    display: inline;
    color:#ffffff;
    font-size: 20px;
}
#comment-content{
    display: inline;
    color:#ffffff;
    font-size: 20px;
}

#comment-form{
    margin: 15px 0px 0px;
}

.comment-input {
    display: inline;
}

.comment-area {
    width: 650px;
}

.comment-button {
    height: 45px;
}
