label[for=id_title]  {
    color: #ffffff;
    width:80px;
    height: 50px;
    background: url(../images/writepage_title.png);
    background-size: 80px 50px;
    line-height: 50px;
    margin: 0 0 0 10px;
    padding:0;
    float: left;
}

label[for=id_content]  {
    color: #ffffff;
    width:740px;
    height: 40px;
    background: url(../images/writepage_cont.png);
    line-height: 40px;
    margin: 20px 0 20px 10px;
    padding:0;
    float: left;
}


#id_title {
    border-radius: 4px;
    width: 650px; 
    height: 35px;
    float: left;
    margin: 7px 7px 0px;
}

.Container .Content_in { height: 835px; }

form {margin-top:35px;}

.btn {
  margin:30px 15px;
  color:#ffffff;
  background-color: #e12200;
  border-radius: 0px;
  float: right;
}

form > iframe { width: 730px; }
