@charset "utf-8";

/* CSS Document */


/* 기본설정 */

body {
    width: 100%;
    height: 100%;
    display: block;
    font-family: 'Roboto', sans-serif;
    font: bold;
    background: #f3efeb;
}

.Wrap {
    width: 1021px;
    height: 1260px;
    background: transparent;
    min-width: 940px;
    text-align: center;
    margin: 0 auto;
}

html,
body,
form,
input,
button,
article,
div,
img,
ol,
ul,
dt,
dd,
dl,
li {
    display: block;
    list-style: none;
    margin: 0;
    padding: 0;
    border: 0;
    ouline: 0;
}

a:hover {
    text-decoration: none;
    color: inherit;
}

input[type="radio"] {
    position: absolute;
    cursor: pointer;
}


/* 사이트 전체 틀 Size / CSS */

.Top {
    width: 100%;
    height: 235px;
}

.Top:hover {
    background: url(../images/bg_main_shadow.png) repeat;
    opacity: 0.85;
}

.Header {
    width: 1021px;
    height: 235px;
    margin: 0 auto;
}

.Logo {
    width: 200px;
    height: 100px;
    float: left;
    background-color: #96F;
}

.Main_menu {
    width: 821px;
    height: 100px;
    float: left;
    background-color: #000 0.9;
}

.Left_box {
    width: 200px;
    height: 1250px;
    float: left;
    background-color: #e5e7ec;
}

.Left_box > .Login_wrap {
    width: 200px;
    height: 405px;
    background-color: #000;
    position: relative;
}

.Left_box > .Quick_menu {
    width: 200px;
    height: 370px;
    margin-top: 50px;
    background-color: #e5e7ec;
    padding: 5px 0px;
}

.Container {
    width: 821px;
    height: 1225px;
    float: left;
    background-color: #966;
}

.Container > .Slide_menu {
    width: 821px;
    height: 405px;
    background-color: #000;
}

.Container > .Notice_menu {
    width: 821px;
    height: 420px;
    float: none;
    background-color: #ffffff;
    margin: 0 0;
}

.Container > .Screenshot {
    width: 821px;
    height: 425px;
    float: none;
    background-color: #ffffff;
}


/* 상단 메인 메뉴바 */

.Main_menu .nav {
    margin-left: 0px;
}

.Main_menu .nav .N_menu_itemlist {
    width: 815px;
    height: 50px;
    margin-top: 50px;
    float: left;
    border: 0;
    padding-left: 15px;
}

.Main_menu .nav .N_menu_itemlist .N-menu_item {
    text-align: center;
    font-size: 20px;
    font-weight: bold;
    width: 160px;
    height: 40px;
    float: left;
    position: relative;
    list-style: none;
    padding-top: 10px;
    border-right: 1px solid #bfbdbd;
}

.Main_menu .nav .N_menu_itemlist .N-menu_item a {
    color: #FFF;
    text-shadow: 1px 1px 3px #000;
}


/* 상단 서브 메뉴바 */

.Main_menu menu {
    margin: 0;
    overflow: hidden;
    position: relative;
    display: block;
    padding: 10px 0 0 0;
}

.Main_menu menu li {
    position: relative;
    float: left;
}

.Main_menu menu .depth {
    display: block;
    position: relative;
    background: none;
    box-shadow: none;
    width: 164.2px;
}

.Main_menu menu .depth p {
    height: auto;
    padding: 0;
    background: none;
    text-align: center;
}

.Main_menu menu .depth p a {
    display: block;
    height: 23px;
    font-size: 16px;
    color: #d2d2d2;
    margin: 10px;
    text-shadow: 1px 1px 3px #000;
}

.Main_menu menu .depth p a:hover {
    color: #e62200;
}

.Main_menu menu li:hover h2 a {
    color: #fff;
}

.Main_menu menu .menu1 .depth,
.Main-nav menu .menu2 .depth,
.Main-nav menu .menu3 .depth,
.Main-nav menu .menu4 .depth,
.Main-nav menu .menu5 .depth {
    margin: 0;
}


/* 좌측 로그인메뉴 */

.Left_box .Login_wrap fieldset {
    width: 200px;
    position: relative;
    bottom: auto;
    left: auto;
    float: left;
    padding-top: 30px;
}

.Left_box .Login_wrap fieldset .before {
    margin-top: 10px;
}

.Left_box .Login_wrap fieldset .before aside {
    width: 200px;
    height: 35px;
    text-align: center;
    font-size: 13px;
    color: #666;
    display: block;
    margin: 0;
    padding-top: 10px;
}

.Left_box .Login_wrap fieldset .before .form {
    height: 80px;
    position: relative;
    padding: 0 87px 0 0;
    overflow: hidden;
}

.Left_box .Login_wrap fieldset .before .form li {
    width: 140px;
    height: 37px;
    margin: 0 6px 6px;
    background: #393939;
    padding: 0 10px;
}

.Left_box .Login_wrap fieldset .before .form li .text {
    width: 100%;
    height: 37px;
    line-height: 37px;
    background: #434040;
    color: #999;
    font-size: 13px;
}

.Left_box .Login_wrap fieldset .before .form .btn-login {
    margin: 0;
    padding: 0;
    position: absolute;
    right: 3px;
    top: 0;
    background: none;
    width: 45px;
    height: 80px;
    background: #CCC;
}

input,
select,
button {
    vertical-align: middle;
}

.Left_box .Login_wrap .Btn_Start {
    width: 185px;
    height: 160px;
    position: absolute;
    top: 190px;
    background: #CCC;
    left: 8px;
    float: left;
}


/* 좌측 퀵메뉴 */

.Left_box .Quick_menu .link_list {
    width: 190px;
    height: 265px;
    background-color: #f4f4f4;
    margin: 0px auto 0 auto;
    padding-top: 13px;
    text-align: left;
    vertical-align: middle;
    border: 1px solid #bfbdbd;
    background: url('../../static/images/QM.jpg') no-repeat;
}

.Quick_menu .link_list .link_list_title {
    font-size: 18px;
    font-weight: bold;
}

.Quick_menu .link_list li a {
    color: #666666;
    display: block;
    width: 180px;
    height: 60px;
    margin: 18px 5px;
    text-indent: -1000px;
}

.Quick_menu .link_list li a:hover {
    text-decoration: none;
}


/* 컨테이너 슬라이드 메뉴 */

.Container .Slide_menu .carousel {
    width: 630px;
    height: 350px;
    text-align: center;
    margin: 25px 10px 10px 10px;
    display: inline-block;
    float: left;
}

.Container .Slide_menu .carousel .item {
    width: 630px;
    height: 350px;
}

.Container .Slide_menu .banner-nav {
    width: 150px;
    height: 350px;
    float: left;
    padding: 10px 0 0 0;
    margin-top: 14px;
}

.Container .Slide_menu .banner-nav .list {
    border-top: 1px solid #2b2b2b;
    border-bottom: 1px solid #2b2b2b;
    overflow: hidden;
    text-align: center;
    vertical-align: middle;
}

.Container .Slide_menu .banner-nav .list li {
    width: 150px;
    height: 54px;
    font-size: 16px;
    border-bottom: 1px solid #2b2b2b;
    line-height: 100%;
    padding: 18px 0 0 0;
}

.Container .Slide_menu .banner-nav .list li:hover {
    background: #F00;
    color: #ffffff;
}

.Container .Slide_menu .banner-nav .list li a {
    color: #717172;
    font-weight: bold;
}

.Container .Slide_menu .banner-nav .list li a:hover {
    color: inherit;
}

.Container .Slide_menu .banner-nav .list .left {
    width: 40px;
    height: 40px;
    top: 0;
    transform: rotate(90deg)
}

.Container .Slide_menu .banner-nav .list .right {
    width: 40px;
    height: 40px;
    bottom: 0;
    transform: rotate(90deg)
}

.Container .Slide_menu .banner-nav .list #PNbtn {
    margin-left: 57px;
    margin-top: 0;
    display: block;
    position: relative;
    text-align: center;
}

.Container .Slide_menu .banner-nav .paging {
    color: #ffffff;
}


/* 컨테이너 공지사항 부분 */

.Container .Notice_menu .board {
    width: 550px;
    height: 420px;
    float: left;
    border-right: 1px solid #bfbdbd;
}

.Container .Notice_menu .board .notice {
    height: 200px;
    border-bottom: 1px solid #bfbdbd;
}

.Container .Notice_menu .board .notice h2 {
    text-align: left;
    margin-left: 20px;
    position: relative;
    font-size: 24px;
    color: #000;
    font-weight: bold;
}

.Container .Notice_menu .board .notice h2 .more {
    width: 10px;
    height: 10px;
    position: absolute;
    right: 25px;
    top: 10%;
}

.Container .Notice_menu .board .notice ul {
    height: 140px;
    margin-top: 25px;
}

.Container .Notice_menu .board .notice ul li {
    display: block;
    margin: 10px 15px;
    text-align: left;
}

.Container .Notice_menu .board .notice ul li a {
    color: #666666;
}

.Container .Notice_menu .board .notice ul li:hover {
    background: #CCC;
}

.Container .Notice_menu .board .notice ul li span {
    float: right;
}


/* 컨테이너 자유게시판 부분 */

.Container .Notice_menu .board .freenotice {
    height: 170px;
    border-bottom: 1px solid #bfbdbd;
}

.Container .Notice_menu .board .freenotice h2 {
    text-align: left;
    margin-left: 20px;
    position: relative;
    font-size: 24px;
    color: #000;
    font-weight: bold;
}

.Container .Notice_menu .board .freenotice h2 .more {
    width: 10px;
    height: 10px;
    position: absolute;
    right: 25px;
    top: 10%;
}

.Container .Notice_menu .board .freenotice ul {
    height: 140px;
    margin-top: 25px;
}

.Container .Notice_menu .board .freenotice ul li {
    display: block;
    margin: 10px 15px;
    text-align: left;
}

.Container .Notice_menu .board .freenotice ul li a {
    color: #666666;
}

.Container .Notice_menu .board .freenotice ul li:hover {
    background: #CCC;
}

.Container .Notice_menu .board .freenotice ul li span {
    float: right;
}


/* 컨테이너 GM노트 부분 */

.Container .Notice_menu .GMnote .gm-note {
    width: 270px;
    height: 410px;
    float: right;
    position: relative;
    border-bottom: 1px solid #bfbdbd;
}

.Container .Notice_menu .GMnote .gm-note h2 {
    margin-left: 20px;
    text-align: left;
    position: relative;
    font-size: 24px;
    color: #000;
    font-weight: bold;
}

.Container .Notice_menu .GMnote .gm-note .more {
    float: right;
    margin: 10px;
}

.Container .Notice_menu .GMnote .gm-note p .gm-note-text strong {
    font-size: 18px;
    color: #000;
    font-weight: 400;
}

.Container .Notice_menu .GMnote .gm-note p .gm-note-text span {
    text-align: center;
    font-size: 15px;
    color: #6c6a6a;
    line-height: 160%;
}

.Container .Notice_menu .GMnote .gm-note p img {
    display: block;
    position: relative;
    border: 0;
    margin: 15px 10px;
}

.Container .Notice_menu .GMnote .gm-note .gm-note-text {
    float: none;
    display: block;
}

.Container .Notice_menu .GMnote .gm-note .votelist {
    width: 120px;
    height: 90px;
    list-style: none;
    display: inline-block;
}

.Container .Notice_menu .GMnote .gm-note .votelist .list {
    text-align: center;
    vertical-align: middle;
}

.Container .Notice_menu .GMnote .gm-note .votebtn {
    width: 270px;
    top: 0px;
}


/* 컨테이너 스크린샷 부분 */

.Container .Screenshot .carousel {
    background: #f3efeb;
    margin-bottom: 40px;
}

.Container .Screenshot .carousel-cell {
    width: 100%;
    height: 200px;
    margin-right: 10px;
    background: #8C8;
    border-radius: 5px;
    counter-increment: carousel-cell;
}

.Container .Screenshot .Screenmove {
    margin: 10px;
}

.Container .Screenshot .carousel-cell:before {
    display: block;
    text-align: center;
    content: counter(carousel-cell);
    line-height: 200px;
    font-size: 80px;
    color: white;
}

.Container .Screenshot .carousel-nav .carousel-cell {
    height: 80px;
    width: 100px;
}

.Container .Screenshot .carousel-nav .carousel-cell:before {
    font-size: 50px;
    line-height: 80px;
}

.Container .Screenshot .carousel-nav .carousel-cell.is-nav-selected {
    background: #ED2;
    opacity: 0.3;
}

.Container .Screenshot h2 {
    text-align: left;
    margin-left: 20px;
    position: relative;
    font-size: 24px;
    color: #000;
    font-weight: bold;
    margin-top: 0px;
    margin-bottom: 20px;
}

.Container .Screenshot h2 .more {
    width: 10px;
    height: 10px;
    position: absolute;
    right: 25px;
    top: 10%;
}


/* 사이트맵 부분*/

.Sitemap {
    width: 100%;
    height: 200px;
    background: #171a1d;
    padding: 20px 0;
    margin-top: 20px;
    text-align: center;
    float: left;
    position: relative;
}

.Sitemap .Sitemap-wrap {
    width: 1021px;
    overflow: hidden;
    display: inline-block;
    margin: 0 auto;
    position: relative;
}

.Sitemap .Sitemap-wrap .clearfix {
    display: block;
}

.Sitemap .Sitemap-wrap li {
    float: left;
}

.Sitemap .Sitemap-wrap dl {
    width: 204px;
    height: 150px;
    border-left: 1px solid #2a2c2e;
    border-right: 1px solid #2a2c2e;
}

.Sitemap .Sitemap-wrap dt {
    padding: 20px 0 10px;
}

.Sitemap .Sitemap-wrap dd {
    padding: 10px 0 0;
}

.Sitemap .Sitemap-wrap dt,
.Sitemap .Sitemap-wrap dd {
    text-align: center;
}

.Sitemap .Sitemap-wrap dt a {
    font-size: 18px;
    color: #cbcccc;
}


/* footer 부분 */

.footer {
    padding: 25px 0;
    background: #26292b;
    width: 100%;
    float: left;
}

.footer .wrap {
    width: 1021px;
    margin: 0 auto;
    text-align: left;
    position: relative;
}

.footer .link,
.footer address,
.footer em {
    font-size: 12px;
    margin: 20px 0 0 190px;
}

.footer .link {
    padding: 0 0 20px;
    color: #666;
}

.footer .link span,
.footer .link a {
    vertical-align: middle;
}

.footer .link span {
    display: inline-block;
    width: 1px;
    height: 8px;
    line-height: 0px;
    font-size: 0px;
    background: #666;
    margin: 0 15px;
    position: relative;
    top: 1px;
}

.footer .link a {
    color: #686868;
}

.footer .link .underline {
    text-decoration: underline;
    color: #999;
}

.footer address {
    padding: 0 0 20px;
    color: #606264;
}

.footer address a {
    text-decoration: none;
    color: #606264;
    line-height: 140%;
}

.footer address span {
    display: block;
    padding: 20px 0 0;
    color: #494949;
}

.footer .grade-pop {
    display: block;
    width: 230px;
    height: 80px;
    float: right;
}

.footer .webzen {
    display: block;
    width: 150px;
    height: 50px;
    position: absolute;
    margin: 0;
    margin-left: 10px;
}
