.topbar_back {background:#101010; width:100%; margin:0 auto; padding:0; position:fixed; z-index:9999; }
.topbar_container{position:relative; margin:0 auto; padding:0;width:1021px; height:40px; vertical-align:middle;}
.topbar_container .topbar_logo{margin:0 auto; position:relative;  float:left; font-size:10px; width:77px; height:30px; margin-left:60px; }
.topbar_container .topbar_logo img { margin:0; padding: 0; }
.topbar_container .topbar_menu{margin:7px auto 0; padding:0; float:right;}
.topbar_container .topbar_menu a {float:right; height:22px; margin-left:15px; line-height:22px; font-size:12px; color:#999;}
.topbar_container .topbar_menu a:hover {color:#fff;}



 /*.global-top-bar-container .global-top-bar h1 a{display:block; width:29px; height:18px; background-position:0 0;text-indent:-9999em; color:#cccccc; font-size:15px;}*/

.navigator{width:100%; height:94px; position:fixed; left:0; top:0; background:url('../images/bg_navigator.png') repeat-x; position:relative; z-index:9999; background:#101010;}
.navigator .wrap{width:1030px; margin:0 auto; padding:0; position: relative;}
.navigator .wrap h1, .navigator .wrap menu, .navigator .wrap menu li{float:left;}
.navigator .wrap h1{width:74px; height:46px;}
.navigator .wrap menu{width:750px;}
.navigator .wrap menu li{position:relative; padding:5px 5px 0 0;}
.navigator .wrap menu li:first-child{margin-left: -20px; width:200px; height:55px; margin-top: 10px;}
.navigator .wrap menu li:nth-child(2) {margin-left: 5px;}
.navigator .wrap menu h2{font-size:16px; font-weight:400; text-shadow:1px 1px 2px #000}
.navigator .wrap menu h2 a{display:block; padding:7px 20px 25px; color:#ccc;}
.navigator .wrap menu .depth{position:absolute; left:50%; top:57px; padding:5px 0 0 0; background:url('../images/bg_nabigator_selecter.jpg') no-repeat 50% 0; display:none; text-shadow:1px 2px 1px #111;}
.navigator .wrap menu .depth p{height:24px; padding:0 10px; line-height:24px; background:#e12200; white-space:nowrap;}
.navigator .wrap menu .depth a{color:#ffbfbf; margin:0 3px;}
.navigator .wrap menu .menu1 .depth{margin-left:-69px;}
.navigator .wrap menu .menu2 .depth{margin-left:-77px;}
.navigator .wrap menu .menu3 .depth{margin-left:-41px;}
.navigator .wrap menu .menu4 .depth{margin-left:-84px;}
.navigator .wrap menu .menu5 .depth{margin-left:-64px;}
.navigator .wrap menu li:hover h2 a, .navigator menu li.selected h2 a{color:#e12200;}
.navigator .wrap menu li:hover .depth, .navigator menu li.selected .depth{display:block;}
.navigator .wrap menu .depth a:hover, .navigator menu .depth a.selected{color:#fff;}

.navigator .wrap .game-start{width:300px; height:80px; position: absolute; right:5px; top:7px; background:url('../images/btn_gamestart.jpg') no-repeat ; display: block; }
.navigator .wrap .game-start video{width:300px; height:80px; position:relative; right:0; top:0; z-index:9999; display:none;}
.navigator .wrap .game-start a{display:block; width:300px; height:80px; position:relative; right:0; top:0; text-indent:-9999em;}
.navigator .wrap .game-start:hover video{display:block;}
