{% extends "sub_base.html" %}

{% load staticfiles %}

{% block title %}
글쓰기
{% endblock %}

{% block content %}
<div class="Container">
    <div class="Content_in">
        <div class="Toptitle">
            <h2>자유게시글 작성</h2>
            <p id="navi">
            <img src="{% static "images/icon_home.png" %}" width="15" height="15" border="0" alt="아이콘"> 홈 &gt; 게임소식 &gt; <span>공지사항</span></p>
        </div>
        <form method="post" action="">
            {% csrf_token %}
            {{ form }}
            <input type="submit" name="" class="text" value="확인">
        </form>
    </div>
</div>

</div>
{% endblock %}
