{% extends "sub_base.html" %}
{% load staticfiles %}


{% block css %}
<link rel="stylesheet" href="{% static "css/detailpage.css" %}"/>
{% endblock %}

{% block sub_title %}
        <h2>자유게시판</h2>
                <p id="navi">
        <img src={% static "images/icon_home.png" %} width="15" height="15" border="0" alt="아이콘"> 홈 &gt; 커뮤니티 &gt; <span>자유게시판</span></p>

{% endblock %}

{% block content %}
   
    <!-- 리스트 -->
                <div class="most_board_view_tit"> {{ freeboard.title }} </div>
                <div class="most_board_view_name">
                    <p>작성자 아이디<span>2016.10.21</span></p>
                </div>
                <div class="most_board_view_con">
                    {{ freeboard.content|safe }}
                </div>
    <!-- 리스트 END -->


<div>
    {% for comment in freeboard.comment_set.all %}
        <div class="comment">
            <div id="user-id">
                <b>{{ comment.user.username }}</b> :
            </div>
            <div id="comment-content">
                {{ comment.contents }}
            </div>
        </div>
    {% endfor %}

    <form class="comment-form" action="{% url "comment_create" freeboard.id %}" method="post">
        {% csrf_token %}
        <table>
            <tr>
                <td>
                    <textarea class="comment-input comment-area" name="contents"></textarea>
                </td>
                <td>
                    &nbsp;<input type="submit" name="" class="btn comment-input comment-button" value="확인">
                </td>
            </tr>
        </table>
    </form>

</div>
    <!-- 인덱스 -->
        <div class="most_index">
            <em class="bott_btn2">
                <a href="#" onclick="#">목록</a>
            </em>
        </div>
    </div>
{% endblock %}
