{% extends "sub_base.html" %}
{% load staticfiles %}

{% block css %}
<link rel="stylesheet" href="{% static "css/detailpage.css" %}"/>
{% endblock %}

{% block leftnav %}
<div id="most_left_menu_area01">
    <div class="most_left_menu_tit">NEWS</div>
    <ul class="most_left_menu">
        <li>&gt; 공지사항</li>
        <li><a href="{% url "event_list" %}">&gt; 이벤트</a></li>
    </ul>
</div>
{% endblock %}

{% block sub_title %}
<div class="Toptitle">
      <h2>공지사항</h2>
     <p id="navi">
   <img src={% static "images/icon_home.png" %} width="15" height="15" border="0" alt="아이콘"/> 홈 &gt; 게임소식 &gt; <span>공지사항</span></p>
</div>
{% endblock %}

{% block content %}
<div id="most_sub_cont_area">    
	<!-- 리스트 -->
    			<div class="most_board_view_tit"> {{ notice.title }} </div>
                <div class="most_board_view_name">
					<p>작성자 아이디<span>2016.10.21</span></p>
				</div>
                <div class="most_board_view_con">
						{{ notice.contents }}

					<img src="/media/{{ notice.sumnail_image }}" alt="">
				</div>
    <!-- 리스트 END -->
    
	<!-- 인덱스 -->
		<div class="most_index">
            <em class="bott_btn2">
				<a href="#" onclick="#">목록</a>
			</em>
		</div>
	</div>

{% endblock %}
