{% extends "sub_base.html" %}
{% load staticfiles %}

{% block css %}
<link rel="stylesheet" href="{% static "css/GameRanking.css" %}"/>
{% endblock %}

{% block style %}
.Back { background:url({% static "images/main_bg_3.jpg" %}) no-repeat 50% 0; margin:0 auto; padding:0;}
.whiteback { width:100%; height:1600px; z-index:-9999; position:absolute; background:url({% static "images/Background.png" %});}
.Wrap {height:850px;}
.Container {height:850px;}
.Left_box{height:850px;}
{% endblock %}


{% block leftnav %}
<div id="most_left_menu_area01">
        <div class="most_left_menu_tit">
            랭킹
        </div>
            <ul class="most_left_menu">
                <li>&gt; 게임 랭킹</li>     
            </ul>
        </div>
{% endblock %}

{% block sub_title %}
<h2>게임 랭킹</h2>
                <p id="navi">
           <img src={% static "images/icon_home.png" %} width="15" height="15" border="0" alt="아이콘"> 홈 &gt; 랭킹</p>
{% endblock %}

{% block content %}
<div class="panel">   
    <div id="most_sub_cont_area">  
      
      <div id="topranking">
          {% for character in characters|slice:":3" %}
          <div id="Top{{ forloop.counter }}">
            <span id="Topid"> {{ character.nickname }} <br /></span>
            <span id="Topinfo"> {{ character.get_job_display }} &nbsp;/ &nbsp;{{character.level }} Lv &nbsp;/ &nbsp; {{ character.status.attack_point }} </span>
        </div>
          {% endfor %}
        <span id="text"> * 랭킹은 경험치량 순으로 산정됩니다. </span>
      </div>
      
    <!-- 게시판 리스트 -->
        <ul class="most_board_top">
            <li class="noname">순위</li>
            <li class="title2">닉네임</li>
            <li class="date">직업</li>
            <li class="level">레벨</li>
            <li class="exp">경험치</li>
        </ul>
        {% for character in characters %}
        <ul class="most_board_notice_list">
            <li class="num">{{ forloop.counter }}</li>
            <li class="title2">{{ character.nickname }}</li>
            <li class="date">{{ character.get_job_display }}</li>
            <li class="level">{{ character.level }}</li>
            <li class="exp">{{ character.status.attack_point }}</li>
        </ul>
        {% endfor %}
     </div>
  </div>

{% endblock %}
