{% extends "sub_base.html" %}
{% load staticfiles %}

{% block css %}
<link rel="stylesheet" href="{% static "css/Community_Screenshot_create.css" %}"/>
{% endblock %}


{% block style %}
.Back { background:url({% static "images/main_bg_2.jpg" %}) no-repeat 50% 0; margin:0 auto; padding:0;}
.whiteback { width:100%; height:1500px; z-index:-9999; position:absolute; background:url({% static "images/Background.png" %});}
{% endblock %}


{% block leftnav %}
 <div id="most_left_menu_area01">
    <div class="most_left_menu_tit">
      커뮤니티
    </div>
      <ul class="most_left_menu">
        <li><a href="{% url "free_list" %}">&gt; 자유게시판</a></li>
                <li>&gt; 스크린샷</li>    
      </ul>
    </div>
{% endblock %}

{% block sub_title %}
        <h2>스크린샷 올리기</h2>
                <p id="navi">
           <img src={% static "images/icon_home.png" %} width="15" height="15" border="0" alt="아이콘"> 홈 &gt; 커뮤니티 &gt; <span>스크린샷</span></p>
{% endblock %}

{% block content %}
<div id="most_sub_cont_area">
    <ul>
      <li id="top_left">제 목</li>
      <li id="top_right"><input type="text" class="form-control" placeholder="작성하실 글의 제목을 입력하세요." ></li>
    </ul>
    <ul>
      <li id="btt_left">이미지 추가</li>
      <li id="btt_right">
        <input type="file" id="fom" onchange="readURL(this)">
      </li>
    </ul>
    <div id="UploadedImg"></div>
      <div id="cont_left">내 용</div>
      <div id="cont_right">
        <textarea rows="22" cols="90" name="content" class="textaria" style="resize:none;"></textarea></li>
    </div>
    <div id="btn">
    <em class="bott_btn">
      <a href="{% url "screenshot" %}" >취소</a> <!-- 쓰기 링크 추가 -->
    </em>
    <em class="bott_btn">
      <a href="#" >쓰기</a> <!-- 쓰기 링크 추가 -->
    </em>
    </div>
</div>
{% endblock %}
