{% extends "sub_base.html" %}
{% load staticfiles %}

{% block css %}
<link rel="stylesheet" href="{% static "css/Community_Screenshot.css" %}"/>
{% endblock %}


{% block style %}
.Back { background:url({% static "images/main_bg_2.jpg" %}) no-repeat 50% 0; margin:0 auto; padding:0;}
.whiteback { width:100%; height:1300px; z-index:-9999; position:absolute; background:url({% static "images/Background.png" %});}
.Wrap {height:1000px;}
.Container {height:1000px;}
.Left_box{height:1000px;}
{% endblock %}


{% block leftnav %}
<div id="most_left_menu_area01">
    <div class="most_left_menu_tit">
      커뮤니티
    </div>
      <ul class="most_left_menu">
        <li><a href="{% url "free_list" %}">&gt; 자유게시판</a></li>
        <li>&gt; 스크린샷</li>    
      </ul>
    </div>
{% endblock %}

{% block sub_title %}
        <h2>스크린샷</h2>
                <p id="navi">
           <img src={% static "images/icon_home.png" %} width="15" height="15" border="0" alt="아이콘"> 홈 &gt; 커뮤니티 &gt; <span>스크린샷</span></p>
{% endblock %}

{% block content %}
<div id="most_sub_cont_area">    
  <!-- 리스트 --> <!--음... 이것도..... 추가...? -->
    
    <div class="most_screenshot_list">              
    {% for screenshot in screenshots %}
    <ul>
      <li class="pgame_thumb">
          <a href="{% url "screenshot_detail" screenshot.id %}" onfocus="this.blur();" onclick="">
                  <img src={{ screenshot.image.url }}></a>
            </li>
      <li class="pgame_etitle">
          <a href="{% url "screenshot_detail" screenshot.id %}" onfocus="this.blur();" onclick="">{{ screenshot.title|slice:":12" }}{% if screenshot.title|length > 14 %}...{% endif %}</a>
            </li>
            <li class="pgame_date">{{ screenshot.user.username }}  <span>{{ screenshot.created_at|date:"Y.m.d" }}</span></li>
    </ul>
    {% endfor %}
  </div>  

    <!-- 리스트 END -->
    
  <!-- 인덱스 --> <!-- 인덱스 기능 추가 부탁... 가능한지요 -->
    <div class="most_index">
      <em class="left_mg60"><a href="#">&lt; 이전</a></em>
                <span>
                <a class="on">1</a> 
              <a href="#" onclick="">2</a>
                <a href="#" onclick="">3</a>
                <a href="#" onclick="">4</a>
                <a href="#" onclick="">5</a>
                <a href="#" onclick="">6</a>
                <a href="#" onclick="">7</a>
                <a href="#" onclick="">8</a>
                <a href="#" onclick="">9</a>
                <a href="#" onclick="">10</a></span>
                <em><a href="#" onclick="">다음 &gt;</a></em>
            <em class="bott_btn">
        <a href="{% url "screenshotcreate" %}" onclick="#">쓰기</a> <!-- 쓰기 기능 추가 -->
      </em>
    </div>
</div>
{% endblock %}
