#scene {
    position: relative;
    cursor:url(../../images/game/UI/Mouse/0.png), auto;
}

#progressbarfull {
    position: absolute;
    left: -21%;
    top: 650px;
    display:inline;
}

#myProgress {
  position: absolute;
  top:700px;
  width: 100%;
}

#myBar {
  position:relative;
  left:30%;
  width: 10%;
  height: 30px;
  background-color: #a82617;
  text-align: center;
  line-height: 30px;
  color: white;
}

.stat {
    color: white;
}

