{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>회원가입</title>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.1/css/font-awesome.min.css"> 
        <link rel="stylesheet" href="{% static "css/Base.css" %}">
        <link rel="stylesheet" href="{% static "css/logchange.css" %}"/>
    </head>
    <body>
    <div class="Top">
        <div class="Header">
            <a href="{% url "home" %}"><div class="Logo"> </div></a>
            <div class="Main_menu">
                <nav class="nav">
                    <ul class="N_menu_itemlist">
                        <li class="N-menu_item">
                            <a href="#" class="N-menu_item_link is-selected">NEWS</a>
                        </li>
                        <li class="N-menu_item">
                            <a href="#" class="N-menu_item_link">게임소개</a>
                        </li>
                        <li class="N-menu_item">
                            <a href="{% url "ranking" %}" class="N-menu_item_link">랭킹</a>
                        </li>
                        <li class="N-menu_item">
                            <a href="#" class="N-menu_item_link">커뮤니티</a>
                        </li> <li class="N-menu_item">
                            <a href="#" class="N-menu_item_link">고객센터</a>
                        </li>
                    </ul>
                </nav>
                <menu>
                    <li class="menu1">
                        <div class="depth" style="padding-left:27px;">
                            <p>
                                <a href="{% url "notice_list" %}">공지사항</a>
                                <a href="{% url "event_list" %}">이벤트</a>
                            </p>
                        </div>
                    </li>
                    <li class="menu2">
                        <div class="depth" style="padding-left:19px;">
                            <p>
                                <a href="{% url "storyintro" %}">게임배경</a>
                                <a href="{% url "jobintro" %}">직업소개</a>
                            </p>
                        </div>
                    </li>
                    <li class="menu3">
                        <div class="depth">
                            <p>
                            </p>
                        </div>
                    </li>
                    <li class="menu4">
                        <div class="depth">
                            <p>
                                <a href="{% url "free_list" %}">자유게시판</a>
                                <a href="{% url "screenshot" %}">스크린샷</a>
                            </p>
                        </div>
                    </li>
                    <li class="menu5">
                        <div class="depth">
                            <p>
                                <a href="{% url "faq" %}">FAQ</a>
                                <a href="{% url "rescue" %}">문의/신고</a>
                            </p>
                        </div>
                    </li>
                </menu>
            </div>
        </div>
    </div>
    <div class="wrap1">
      <div class="Toptitle">
        <span>MY PAGE </span>
      </div>
      <div class="one">
        <div class="logo">

                <span class="i_logo">회원정보변경</span>    

        </div>
        <div class='joinuswrap'>
            <form action="{% url "profile" %}" method="post">
              {% csrf_token %}
              <table class="tableform">
              <tr>
              <div class="minsoo-input-group">
                  <td><label class="minsoo-label" for="username"> 유저네임</label></td>
                  <td><input class="minsoo-form-input" type="text" name="username" placeholder="유저네임" value="{{ user.username }}" required></td>
              </div>
              </tr>
              <tr>
              <div class="minsoo-input-group">
                  <td><label class="minsoo-label" for="password">새 비밀번호 입력</label></td>
                  <td><input class="minsoo-form-input" type="password" name="password" placeholder="새 비밀번호"required></td>
              </div>
              </tr>
              <tr>
              <div class="minsoo-input-group">
                  <td><label class="minsoo-label" for="password-check">새 비밀번호 확인</label></td>
                  <td><input class="minsoo-form-input" type="password" name="password_check" placeholder="새 비밀번호확인"required></td>
              </div>
              </tr>
              <tr>
              <div class="minsoo-input-group">
                  <td><label class="minsoo-label" for="email">이메일</label></td>
                  <td><input class="minsoo-form-input" type="email" name="email" placeholder="이메일 입력" value="{{ user.email }}" required></td>
              </div>
              </tr>
              </table>
              <div class="buttongroup">
              <a href="{% url "home" %}" name="" value="취소" class="reset-button" style="color:#ffffff;">취소</a>
              <input type="submit" name="" value="확인" class="submit-button">
              
              </div>
            </form>
        </div> 
      </div>
      <div class="two">
        <div class="logo">
            
                <span class="i_logo">문의내역</span>    

        </div>
        <div class="questionwrap">
            <form action="" method="post">
              
              <table class="tableform2">
              <tr class="Toptable">
                <td>번호</td><td>제목</td><td>날짜</td>
              </tr>
              <tr class="contable">
                <td>1</td><td>자살하고싶어요</td><td>2017.03.27</td>
              </tr>
              </table>
              

            </form>
        </div> 
    </div>
 </div>
       <div class="footer">
            <article class="wrap">
                <a href="{% url "home" %}" target="_blank"><img src="{% static "images/Main_logo4.png" %}"  class="webzen"/></a>
            <div class="link" > 
                <a href="#" onclick="window.open('{% url 'policy' %}','window','width=880; height=650; scrollbars=yes');">Lucifer 운영정책</a>
                <span>|</span>
                <a href="{% url "faq" %}">고객센터</a>
                <span>|</span>
                <a href="http://mm.nsu.ac.kr/?_page=1" target="_blank">NsuMulti</a>
                <span>|</span>
                <a href="#" data-toggle="tooltip" data-placement="right" title="만 15세 이상 이용가능">게임이용등급</a>
            </div>
            <address>
                상호명: Lucifer &nbsp;&nbsp;&nbsp;대표: 한민수 최영준 김회언 &nbsp;&nbsp;&nbsp;주소: 충청남도 천안시 성환읍 남서울대학교<br>
                FAX: 041-521-1348 웹마스터메일: <a href="mailto:slhgesa@naver.com">Lucifer-help@nsu.com</a> 고객지원센터: 1566-4545 
                <span>NsuMulti Inc. Global Digital Entertainment Leader ©NsuMulti Inc. All Rights Reserverd.</span>
                <img src="{% static "images/Grade.jpg" %}" class="grade-pop" alt="">
                <br><img src="http://image.webzen.kr/Mu/ignition/v01/images/img_dev.png" alt="">
            </address>
            </article>
        </div>

    </body>
</html>
