{% load staticfiles %}
<section class="Sitemap">
    <div class="Sitemap-wrap">
        <ul class="clearfix">
            <li>
                <dl>
                    <dt>
                        <a href="#">NEWS</a>
                    </dt>
                    <dd>
                        <a href="#">공지사항</a>
                    </dd>
                    <dd>
                        <a href="#">이벤트</a>
                    </dd>
                </dl>
            </li>
            <li>
                <dl>
                    <dt>
                        <a href="#">게임소개</a>
                    </dt>
                    <dd>
                        <a href="#">게임배경</a>
                    </dd>
                    <dd>
                        <a href="#">직업소개</a>
                    </dd>
                </dl>
            </li>
            <li>
                <dl>
                    <dt>
                        <a href="#">랭킹</a>
                    </dt>
                </dl>
            </li>
            <li>
                <dl>
                    <dt>
                        <a href="#">커뮤니티</a>
                    </dt>
                    <dd>
                        <a href="#">자유게시판</a>
                    </dd>
                    <dd>
                        <a href="#">스크린샷</a>
                    </dd>
                </dl>
            </li>
            <li>
                <dl>
                    <dt>
                        <a href="#">고객센터</a>
                    </dt>
                    <dd>
                        <a href="#">FAQ</a>
                    </dd>
                    <dd>
                        <a href="#">문의/신고</a>
                    </dd>
                </dl>
            </li>
        </ul>
    </div>
</section>
<div class="footer">
    <article class="wrap">
        <a href="#" target="_blank"><img src="../../static/images/LOGO2.jpg" class="webzen" /></a>
        <div class="link">
            <a href="#" target="_blank">이용약관</a>
            <span>|</span>
            <a href="#" target="_blank">Lucifer 운영정책</a>
            <span>|</span>
            <a href="#" target="_blank"><strong>개인정보처리방침</strong></a>
            <span>|</span>
            <a href="#" target="_blank">청소년보호정책</a>
            <span>|</span>
            <a href="#" target="_blank">회사소개</a>
            <span>|</span>
            <a href="#" target="_blank">NsuMulti</a>
            <span>|</span>
            <a href="#" target="_blank">게임이용등급</a>
        </div>
        <address>
            상호명: (주)Lucifer 대표이사: 한민수 최영준 김회언 주소: 충청남도 천안시 성환읍 남서울대학교
            <br> FAX: 041-521-1348 웹마스터메일: <a href="mailto:slhgesa@naver.com">Lucifer-help@nsu.com</a> 고객지원센터: 1566-4545 <a href="#" target="_blank">사업자정보확인</a>
            <span>NsuMulti Inc. Global Digital Entertainment Leader ©NsuMulti Inc. All Rights Reserverd.</span>
            <img src="../../static/images/Grade.jpg" class="grade-pop" alt="">
            <br><img src="http://image.webzen.kr/Mu/ignition/v01/images/img_dev.png" alt="">
        </address>
    </article>
</div>
</div>
