{% load staticfiles %}
<nav class="navigator" style="position:fixed">
        <div class="wrap">
            <menu>
                <li class="logo">
                  <img src="{% static "images/Main_logo4.png" %}"/>
                </li>
                <li class="menu1">
                    <h2 class="title">
                <a href="#">NEWS</a>
            </h2>
                    <div class="depth">
                        <p>
                        <a data-bbsno="2" href="{% url "notice_list" %}">공지사항</a>
                        <a data-bbsno="5" href="{% url "event_list" %}">이벤트</a>
                        </p>
                    </div>
                </li>
                <li class="menu2">
                    <h2 class="title">
                <a href="#">게임소개</a>
            </h2>
                    <div class="depth">
                        <p>
                            <a href="{% url "storyintro" %}">게임배경</a>
                            <a href="{% url "jobintro" %}">직업소개</a>
                        </p>
                    </div>
                </li>
                <li class="menu3">
                    <h2 class="title">
                        <a href="{% url "ranking" %}">랭킹</a>
            </h2>
                </li>
                <li class="menu4">
                    <h2 class="title">
                <a href="#">커뮤니티</a>
            </h2>
                    <div class="depth">
                        <p>
                            <a data-bbsno="1" href="{% url "free_list" %}">자유게시판</a>
                            <a data-bbsno="8" href="{% url "screenshot" %}">스크린샷</a>
                        </p>
                    </div>
                </li>
                <li class="menu5">
                    <h2 class="title">
                <a href="/support/faq">고객센터</a>
            </h2>
                    <div class="depth">
                        <p>
                            <a href="#">FAQ</a>
                            <a href="#">문의/신고</a>
                        </p>
                    </div>
                </li>
            </menu>
            <div class="game-start">
                <video autoplay="autoplay" loop="loop" id="">
                    <source src="http://image.webzen.kr/Mu/ignition/v01/video/btn_start.mp4" type="video/mp4">
                </video>
                <a id="gameStart" href="javascript:;" onclick="Common.GameStart(&quot;&quot;, function () { location.href = &quot;/GameServer/List&quot;; });">gamestart</a>
            </div>
        </div>
    </nav>
<div class="Top">
    <div class="Header">
        <div class="Logo"> Logo </div>
        <div class="Main_menu">
            <nav class="nav">
                <ul class="N_menu_itemlist">
                    <li class="N-menu_item">
                        <a href="#" class="N-menu_item_link is-selected">NEWS</a>
                    </li>
                    <li class="N-menu_item">
                        <a href="#" class="N-menu_item_link">게임소개</a>
                    </li>
                    <li class="N-menu_item">
                        <a href="{% url "ranking" %}" class="N-menu_item_link">랭킹</a>
                    </li>
                    <li class="N-menu_item">
                        <a href="#" class="N-menu_item_link">커뮤니티</a>
                    </li>
                    <li class="N-menu_item">
                        <a href="#" class="N-menu_item_link">고객센터</a>
                    </li>
                </ul>
            </nav>
            <menu>
                <li class="menu1">
                    <div class="depth" style="padding-left:27px;">
                        <p>
                            <a href="{% url "notice_list" %}">공지사항</a>
                            <a href="{% url "event_list" %}">이벤트</a>
                        </p>
                    </div>
                </li>
                <li class="menu2">
                    <div class="depth" style="padding-left:19px;">
                        <p>
                            <a href="{% url "storyintro" %}">게임배경</a>
                            <a href="{% url "jobintro" %}">직업소개</a>
                        </p>
                    </div>
                </li>
                <li class="menu3">
                    <div class="depth">
                        <p>
                        </p>
                    </div>
                </li>
                <li class="menu4">
                    <div class="depth">
                        <p>
                            <a href="{% url "free_list" %}">자유게시판</a>
                            <a href="{% url "screenshot" %}">스크린샷</a>
                        </p>
                    </div>
                </li>
                <li class="menu5">
                    <div class="depth">
                        <p>
                            <a href="#">FAQ</a>
                            <a href="#">문의/신고</a>
                        </p>
                    </div>
                </li>
            </menu>
        </div>
    </div>
</div>
