{% load staticfiles %}
<div class="Left_box">
    <div class="Login_wrap">
        <fieldset>
            {% if request.user.is_authenticated %}
            <div>
                <p id="username" class="userdata">{{ request.user.username }}님</p>
                <p class="userdata">환영합니다.</p>
                {% if request.user.character.job == 'barbarian' %}
                  <img class="sumnail" alt="barbarian_sumnail" src="{% static "images/home/barbarian.png" %}">
                {% elif request.user.character.job == 'sorceress' %}
                  <img class="sumnail" alt="sorceress_sumnail" src="{% static "images/home/sorceress.png" %}">
                {% elif request.user.character.job == 'paladin' %}
                  <img class="sumnail" alt="paladin_sumnail" src="{% static "images/home/paladin.png" %}">
                {% endif %}
              {% if request.user.character.get_job_display %}
              <p>{{ request.user.character.nickname }}</p>
              <p class="characterdata userdata">LV.&nbsp;{{ request.user.character.level }} / {{ request.user.character.get_job_display }} </p>
              {% else %}
                <p id="nocharacter" class="userdata">캐릭터가 없습니다</p>
              {% endif %}
              <a class="logout" href="{% url "logout" %}">로그아웃</a>
            </div>
            {% else %}
            <div class="before">
                <form method="post" action="{% url "login" %}" id="frmLogin">
                {% csrf_token %}
                    <ul class="form">
                        <li><input name="username" type="text" class="text" placeholder="계정" data-datatype="an" maxlength="16" required></li>
                        <li><input name="password" type="password" class="text" placeholder="비밀번호" maxlength="20" required></li>
                        <li class="btn-login"><button type="submit" id="btnLogin"></button></li>
                    </ul>
                </form>
                <aside>
                    <a href="{% url "joinus"%}">회원가입</a>
                    <span>|</span>
                    <a href="#">계정</a>/<a href="#">비밀번호찾기</a> <!-- 계정 링크 걸기 -->
                </aside>
                <div class="snslogin">
                    SNS 로그인  
                    <ul>
                        <li><a href="/login/naver/">N</a></li>
                        <li><a href="/login/kakao/"><i class="fa fa-comment" aria-hidden="true"></i></a></li>
                        <li><a href="/login/facebook/"><i class="fa fa-facebook-official" aria-hidden="true"></i></a></li>
                    </ul>
                </div>
            </div>
            {% endif %}
        </fieldset>
        <div class="Btn_Start">
          <input id="btnStart" onclick="gameStart();" type="button" />
          
          <!--
          <form method="GET" action="{% url "checkcharacter" %}" target="_blank">
            <input type="submit" id="btnStart" value="START">
          </form>
          -->
        </div>
    </div>
    <div class="ranking" style="background:url({% static "images/ranking_bg.png" %}); ">
          <table class="ranking-table">
                <tr>                <td colspan="2">랭킹</td><td><a href="{% url "ranking" %}" class="more"><img src="{% static "images/btn_board_more.jpg" %}" alt=""></a></td></tr>
                <tr>                <td colspan="3">총 전투력</td></tr>
                <tr>    <td><img src="{% static "images/real_first.png" %}" /></td><td>hoeeon</td><td>42,123</td></tr>
                <tr>    <td><img src="{% static "images/real_second.png" %}" /></td><td>youngjun</td><td>40,124</td></tr>
                <tr>    <td><img src="{% static "images/real_third.png" %}"/></td><td>mansur</td><td>37,645</td></tr>
                <tr>                <td>4</td><td>master1</td><td>35,421</td></tr>
                <tr>                <td>5</td><td>master2</td><td>30,504</td></tr>
                <tr>                <td>6</td><td>master3</td><td>25,254</td></tr>
                <tr>                <td>7</td><td>master4</td><td>23,759</td></tr>
                <tr>                <td>8</td><td>master5</td><td>22,982</td></tr>
                <tr>                <td>9</td><td>master5</td><td>22,982</td></tr>
                <tr>                <td>10</td><td>master5</td><td>22,982</td></tr>
            </table>
         </div>
    
    <div class="Quick_menu">
        <ul class="link_list">
            <li><a href="#" onclick="window.open('{% url 'policy' %}','window','width=880; height=650; scrollbars=yes');">
                <span class="glyphicon glyphicon-info-sign" aria-hidden="true"></span>
                <span class="link_list_title"> 운영정책 운영정책 </span>
                </a>
            </li>
            <li><a href="{% url "faq" %}" class="FAQ">
                <span class="glyphicon glyphicon-bullhorn" aria-hidden="true"></span>
                <span class="link_list_title"> FAQ 빠르게 해결해드립니다</span>
                </a>
            </li>
            <li><a href="{% url "bugnotice" %}" class="Bugreport">
                <span class="glyphicon glyphicon-tasks" aria-hidden="true"></span>
                <span class="link_list_title"> 버그신고 버그를 올려주세요</span></a>
            </li>
        </ul>
    </div>

    <div class="counsel">
        <ul class="link_list">
            <li><a href="{% url "faq" %}" class="title"><span class="link_list_title"> 고객센터 </span></a></li>
            <li><span class="link_list_cont"> TEL 041-580-2000</span>
            <br><span class="link_list_cont2">평일 오전 10시 ~ 오후 6시</span>
            <br><br><span class="link_list_cont3">31020 충청남도 천안시 서북구 성환읍 대학로 91번지 <br>남서울대학교 <br> 멀티미디어학과 Overrride팀
            </li>
         </ul>
    </div>

</div>
