<div class="Left_box">
    <div class="Login_wrap">
        <fieldset>
            {% if request.user.is_authenticated %}
            <div>
              <p style="color:red;">{{ request.user.username }}</p>
              <a href="{% url "logout" %}">로그아웃</a>
            </div>
            {% else %}
            <div class="before">
                <form method="post" action="{% url "login" %}" id="frmLogin">
                {% csrf_token %}
                    <ul class="form">
                        <li><input name="username" type="text" class="text" placeholder="계정" data-datatype="an" maxlength="16" required></li>
                        <li><input name="password" type="password" class="text" placeholder="비밀번호" maxlength="20" required></li>
                        <li class="btn-login"><button type="submit" id="btnLogin"></button></li>
                    </ul>
                </form>
                <aside>
                    <a href="{% url "joinus"%}">회원가입</a>
                    <span>|</span>
                    <a href="#">계정</a>/<a href="#">비밀번호찾기</a> <!-- 계정 링크 걸기 -->
                </aside>
                <div class="snslogin">
                    SNS 로그인  
                    <ul>
                        <li><a href="/login/naver/">N</a></li>
                        <li><a href="/login/kakao/"><i class="fa fa-comment" aria-hidden="true"></i></a></li>
                        <li><a href="/login/facebook/"><i class="fa fa-facebook-official" aria-hidden="true"></i></a></li>
                    </ul>
                </div>
            </div>
            {% endif %}
        </fieldset>
        <div class="Btn_Start">
          <form method="GET" action="{% url "checkcharacter" %}" target="_blank">
            <input type="submit" id="btnStart" value="START">
          </form>
        </div>
    </div>

    <div class="counsel">
        <ul class="link_list">
            <li><a href="{% url "faq" %}" class="title"><span class="link_list_title"> 고객센터 </span></a></li>
            <li><a href="#" class="text"><span class="link_list_title"> 31020 충청남도 천안시 서북구 성환읍 대학로 91번지TEL 041-580-2000   Ι  평일 오전 10시 ~ 오후 6시</span></a></li>
         </ul>
    </div>
    <div class="Quick_menu">
        <ul class="link_list">
            <li><a href="#" onclick="window.open('{% url 'policy' %}','window','width=880; height=650; scrollbars=yes');">
                <span class="glyphicon glyphicon-info-sign" aria-hidden="true"></span>
                <span class="link_list_title"> 운영정책 운영정책 </span>
                </a>
            </li>
            <li><a href="{% url "faq" %}" class="FAQ">
                <span class="glyphicon glyphicon-bullhorn" aria-hidden="true"></span>
                <span class="link_list_title"> FAQ 빠르게 해결해드립니다</span>
                </a>
            </li>
            <li><a href="{% url "bugnotice" %}" class="Bugreport">
                <span class="glyphicon glyphicon-tasks" aria-hidden="true"></span>
                <span class="link_list_title"> 버그신고 버그를 올려주세요</span></a>
            </li>
        </ul>
    </div>

</div>
