<div class="Container">
        <div class="Content_in">
            <div class="Toptitle">
                <h2>공지사항</h2>
            </div>
            <table class="table table-hover">
                <thead>
                    <tr><td>No.</td><td>제목</td><td>작성자</td><td>작성일</td></tr>
                </thead>
                <tbody>
                    <tr><td>1</td><td>가나다라마바사아자차 &nbsp;<span class="label label-danger">중요</span></td><td>운영자</td><td>2017.03.11</td></tr>
                    <tr><td>2</td><td>가나다라마바사아자차 &nbsp;<span class="label label-warning">알림</span></td><td>운영자</td><td>2017.03.11</td></tr>
                    <tr><td>3</td><td>가나다라마바사아자차 &nbsp;<span class="label label-success">이벤트</span></td><td>운영자</td><td>2017.03.11</td></tr>
                </tbody>
             </table>
             <nav>
                <ul class="pagination">
                    <li>
                        <a href="#" aria-label="Previous">
                            <span aria-hidden="true">&laquo;</span>
                        </a>
                    </li>
                    <li><a href="#">1</a></li>
                    <li><a href="#">2</a></li>
                    <li><a href="#">3</a></li>
                    <li><a href="#">4</a></li>
                    <li><a href="#">5</a></li>
                    <li>
                        <a href="#" aria-label="Next">
                            <span aria-hidden="true">&raquo;</span>
                        </a>
                    </li>
                </ul>
             </nav>
        </div>
   </div>
